Expev/PamaParameters.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Irene Filipponi (Hewlett Packard) --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">	<xs:element name="PamaParameters">		<xs:annotation>			<xs:documentation>This XML document contains all acceptable Component Classes and Units.  Note that the version number on this file, and the one on the PamaCFG.XSD should match.</xs:documentation>		</xs:annotation>		<xs:complexType>			<xs:sequence>				<xs:element name="ComponentClasses">					<xs:complexType>						<xs:sequence>							<xs:element name="Name" maxOccurs="unbounded"/>						</xs:sequence>					</xs:complexType>				</xs:element>				<xs:element name="Units">					<xs:complexType>						<xs:sequence>							<xs:element name="Name" maxOccurs="unbounded"/>						</xs:sequence>					</xs:complexType>				</xs:element>			</xs:sequence>			<xs:attribute name="version" type="xs:decimal" use="optional" default="0.93"/>		</xs:complexType>	</xs:element></xs:schema>